[tool.poetry]
name = "datacatalogtordf"
version = "1.4.0"
description= "A library for mapping a data catalog to rdf"
authors = ["Stig B. Dørmænen <stigbd@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/Informasjonsforvaltning/datacatalogtordf"
repository = "https://github.com/Informasjonsforvaltning/datacatalogtordf"
documentation = "https://datacatalogtordf.readthedocs.io"
classifiers=[
      "Programming Language :: Python :: 3",
      "License :: OSI Approved :: Apache Software License",
      "Operating System :: OS Independent",
      ]
[tool.poetry.dependencies]
python = "^3.7"
rdflib = "^5.0.0"
importlib_metadata = {version = "^1.5.0", python = "<3.8"}
concepttordf = "^1.0.0"
rdflib-jsonld = "^0.5.0"

[tool.poetry.dev-dependencies]
pytest = "^6.1.2"
coverage = {extras = ["toml"], version = "^5.3"}
pytest-cov = "^2.10.1"
black = "^20.8b1"
flake8 = "^3.8.4"
flake8-bandit = "^2.1.2"
flake8-black = "^0.2.1"
flake8-bugbear = "^21.3.2"
flake8-import-order = "^0.18.1"
safety = "^1.9.0"
mypy = "^0.812"
pytype = {version = "^2020.2.20", python = "3.7"}
flake8-annotations = "^2.4.1"
flake8-docstrings = "^1.5.0"
darglint = "^1.5.5"
Pygments = "^2.7.2"
xdoctest = {extras = ["all"], version = "^0.15.4"}
sphinx = "^3.2.1"
sphinx-autodoc-typehints = "^1.11.1"
codecov = "^2.0.16"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = false
source = ["datacatalogtordf"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
