[tool.poetry]
authors = ["Stig B. Dørmænen <stigbd@gmail.com>"]
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: OS Independent",
]
description = "A library for mapping a data catalog to rdf"
documentation = "https://datacatalogtordf.readthedocs.io"
homepage = "https://github.com/Informasjonsforvaltning/datacatalogtordf"
license = "Apache-2.0"
name = "datacatalogtordf"
readme = "README.md"
repository = "https://github.com/Informasjonsforvaltning/datacatalogtordf"
version = "1.4.9"

[tool.poetry.dependencies]
concepttordf = "^1.0.2"
python = ">=3.8,<3.10"
rdflib = "^6.1.1"
skolemizer = "^1.1.0"

[tool.poetry.dev-dependencies]
Sphinx = "^4.4.0"
bandit = "^1.7.4"
black = "^22.1.0"
codecov = "^2.0.16"
coverage = "^6.3.2"
darglint = "^1.5.5"
flake8 = "^4.0.1"
flake8-annotations = "^2.4.1"
flake8-bandit = "^3.0.0"
flake8-black = "^0.3.2"
flake8-bugbear = "^22.1.11"
flake8-docstrings = "^1.5.0"
flake8-import-order = "^0.18.1"
mypy = "^0.941"
pytest = "^7.0.1"
pytest-cov = "^3.0.0"
pytest-mock = "^3.6.1"
pytype = "^2022.2.23"
safety = "^1.9.0"
sphinx-autodoc-typehints = "^1.11.1"
xdoctest = "^0.15.10"
nox = "^2022.1.7"
nox-poetry = "^0.9.0"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = false
source = ["datacatalogtordf"]

[tool.coverage.report]
fail_under = 100
show_missing = true

[tool.mypy]
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true
strict = false
warn_unreachable = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
  "concepttordf.*",
  "skolemizer.*",
  "pytest_mock.*",
]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
