isodate==0.7.2 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.3.1 ; python_version >= "3.10" and python_version < "3.13"
rdflib==7.5.0 ; python_version >= "3.10" and python_version < "3.13"
skolemizer==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
